<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/> <!-- For notifications -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/> <!-- For notifications -->

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Get location access -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />  <!-- Get precise location access -->
    <!-- Required only when requesting background location access on Android 10 (API level 29) and higher. -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        tools:remove="android:appComponentFactory"
        android:name=".AlarmApp"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/androidappicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FYP_medApp_Android"
        tools:targetApi="34">

        <!--Local Notification-->
        <receiver
            android:name=".NotiAlarmReceiver"
            android:enabled="true"/>

        <!--Location Service-->
        <receiver
            android:name=".LocationAlarmReceiver"
            android:enabled="true"/>

        <!--Firebase Messaging Service-->
        <service
            android:name=".MyFirebaseMessagingService"
            android:directBootAware="true" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!--Google Map-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="*****" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.FYP_medApp_Android">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>